.text-layer-1 {
    color: #2EE6D6 !important;
}

.text-layer-2 {
    color: #AD99FF !important;
}

.text-layer-3 {
    color: #FF66A1 !important;
}

.background-layer-1 {
    background-color: #2EE6D6 !important;
}

.background-layer-2 {
    background-color: #AD99FF !important;
}

.background-layer-3 {
    background-color: #FF66A1 !important;
}