.document-status {
    width: 120px;
    position: fixed;
    left: 16px;
    bottom: 16px;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 3px;
    /* border: 1px solid #000000; */
}

.document-status .bp3-heading {
    text-transform: capitalize;
}

.document-status .status-text::after {
    content: ".";
}

.document-status .status-icon {
    /* background: #ff0000; */
    width: 16px;
    height: 16px;
    position: absolute;
    left: 4px;
    top: 3px;
    color: #BFCCD6;
}