.script-row-form {
    margin-bottom: 8px;
}

.grey-text {
    color: #a0a0aa; 
}

.bold-text {
    font-weight: bold;
}

.italic-text {
    font-style: italic;
}

.round-background {
    border-radius: 2px;
    background-color: #F5F8FA;
}

.x-padding-4px {
    padding-right: 4px;
    padding-left: 4px;
}

.wide {
    width: 100%;
}

.y-align-center {
    margin-top: auto;
    margin-bottom: auto;
}

.script-row-form:hover .row-edit {
    opacity: 1;
}

.script-row-form .row-edit {
    opacity: 0;
}