@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap');

body {
  font-family: "Work Sans", sans-serif;
  background: #F5F8FA;
}

button {
  font-family: "Work Sans", sans-serif;
}

hr {
  background-color: #353535;
  border: 0;
  height: 0.1em;
  margin: 24px 0;
  padding: 0;
}